.libs
.vscode
autom4te.cache
build
modules
config.h
config.h.in
/config.h.in~
config.log
config.nice
config.status
config.sub
configure
/configure~
configure.ac
libtool
Makefile
Makefile.fragments
Makefile.objects
run-tests.php
*.dep
*.lo
*.la
